@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Cairo:wght@200;400;500;700;900&family=Inter:wght@100;300;400;700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;300;400;500;700&family=Roboto:wght@100&family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Cairo:wght@200;400;500;700;900&family=Inter:wght@100;300;400;700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;300;400;500;700&family=Roboto:wght@300;400;500;700&family=Rubik:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rtl {
  direction: rtl;
  font-family: 'Cairo' !important;
}

/* .MuiTypography-root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
} */

body.rtl .MuiTypography-root, button, input {
  font-family: 'Cairo' !important;
}

body.rtl .MuiSvgIcon-root {
  margin-bottom: 5px;
}

::-webkit-scrollbar {
  width: 9px;
  background-color: #d4d4d4;
}
::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: #b3b3b3;
}

body.dark ::-webkit-scrollbar {
  background-color: #333;
}

body.dark ::-webkit-scrollbar-thumb {
  background-color: #777;
}